.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px 50px; /* Increased padding to make navbar taller */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;  /* Reduced height */
    width: 100px;  /* Increased width */
    margin-right: 15px;
    object-fit: contain; /* Ensures the image scales properly */
}


.logo span {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
  }